@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@theme {
  --color-custom-white: #fbfbfb;
  --color-custom-green: #a6cf03;
  --color-custom-black: #070707;
}

body {
  font-family: "Roboto", sans-serif;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.bottom-bar {
  background-image: url("/assets/images/webp/bottom-app-bar.webp");
}

.green-card {
  background-image: url("/assets/images/webp/card-bg.png");
}

.input-shadow {
  box-shadow: 0px 0px 25px 0px #00000014;
}

.profile-box {
  box-shadow: 4px 4px 25px 0px #00000014;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  filter: brightness(0) saturate(100%) invert(67%) sepia(0%) saturate(0%)
    hue-rotate(0deg) brightness(100%) contrast(95%);
  width: 16px;
  height: 16px;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 2px !important;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: #f4f4f4;
}

::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 20px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    color: #fbfbfb;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}