@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@theme {
  --color-custom-white: #fbfbfb;
  --color-custom-green: #a6cf03;
}

body {
  font-family: "Roboto", sans-serif;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.bottom-bar {
  background-image: url("/assets/images/webp/bottom-app-bar.webp");
}

.green-card{
  background-image: url("/assets/images/webp/card-bg.png");
}